.parent{
    border: 1px solid green;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child1, .child2, .child3{
    width: 90%;
    border: 1px solid green;

}
.child1{
    height: 20%;
}
.child2{
    height: 65%;
    display: flex;
    justify-content: space-between;
    border: none;
}
.child3{
    height: 10%;
}
.c2r1, .c2r2{
    height: 100%;
    border: 1px solid green;
}
.c2r1{
    width: 75%;
}
.c2r2{
    width: 20%;
}
.c2r2s1,.c2r2s2{
    height: 100%;
    border: 1px solid green;
}
